body {
    background-image: linear-gradient(#fe495f, #fffec8, #bded7e); 
    text-align: center;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 100px;
}

h1 {
    background-color: #d8fd94;
}

input {
  background-color: #fffec8;
  border-radius: 5%;
  border: 1px solid #d8fd94;
  padding: 5px;
}

.container {
    background-color: #fe9d97;
    margin: 20px 20px;
    padding: 5px 10px;
    border-style: dashed;
    border-color: #bded7e;
}

button {
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #d8fd94;
    border: solid 2px #fe495f;
    color: #fe495f;
    cursor: pointer;
}

.popup {
    color:#fe495f;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
  }
  
  .popup-content {
    background-color: #fffec8;
    margin: 15% auto;
    padding: 20px;
    border:5px solid #bded7e;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    animation: popupAnimation 0.5s ease-in-out;
  }
  
  .close {
    color: #fe9d97;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  