body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #3F3D56;
}

#main {
  width: 300px;
  margin: auto;
}

#main img{
  margin-top: 100px;
  margin-bottom: auto;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    line-height: auto;
    font-weight: medium;
    margin-bottom: 27px;
}

h1 span{
  font-weight: bold;
  color: #ee24ff;
}


p, #footer {
  color: #7D7987; 
  font-size: 15px;
  line-height: 22px;
}

p span {
  color: #3F3D56
}

span { 
  font-weight: bold;
}

#footer a + a {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  color: #3F3D56;
  font-weight: bold;
}

.line {
  width: 568px;
  line-height: 0px;
  margin: auto;
  border: 1px solid #eceff2;
}

#wave1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
